.settings_title{
    margin: 20px 50px;
}

.settings_subcontainer{
    width: 40%;
    margin: 0 auto;
}

.settings_innercontainer1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings_imageContainer{
    display: block;
    margin: 0 30px 30px 30px;
}

.settings_image2{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.settings_image {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.settings_username{
    margin: 0;
    font-size: 20px;
    text-align: center;
}

.settings_fileLabel{
    color: rgb(4, 116, 69);
    cursor: pointer;
}

.settings_fileInput{
    display: none;
}

.settings_innercontainer2{
    display: flex;
    align-items: center;
    margin: 20px;
}

.settings_label{
    width: 0;
    padding: 0 50px;
    display: flex;
    justify-content: flex-end;
}

.settings_input{
    width: 300px;
    padding: 8px;
    font-size: 17px;
}

.settings_textarea{
    width: 302px;
    height: 80px;
    padding: 8px;
    font-size: 17px;
    resize: vertical;
}

.settings_buttonContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}
.settings_button{
    padding: 10px 30px;
    font-size: larger;
    color: white;
    background-color: rgb(0, 128, 75);
    border: none;
    cursor: pointer;
}

.settings_deleteAccount{
    color: rgb(4, 116, 69);   
    cursor: pointer; 
}